*{
  margin: 0;
  padding: 0;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color:#f1efe7;
  padding-left: 100px;
  padding-right: 100px;
}
.header-img{
  width: 400px;
}
.btn{
  padding: 17px;
  background-color: crimson;
  border: 0;
  border-radius: 5px;
  color: white;

}